h1,p{
    margin: 0;
}
body{
    text-align: center;
    background-color: black;
    margin: 0;
}
.new-arrival-heading{
    color: white;
    font-family: 'Recursive', sans-serif;
}
.mb-4{
    width: 560px;
}
.card-img-top{
    object-fit: contain;
}
.nike-images{
    object-fit: scale-down;
}
.cardDeck{
    padding: 25px 10px;
    justify-content: center;
}
.btn{
    margin: 10px;
    width: 25%;
}

.card-text,.card-title{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    width: 25%;
    margin: 50px;
}
.top-heading{
    color: white;
}
Link{
    text-decoration: none !important;
}